/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navigation bar styles */
nav {
    background-color: #fff;
    border-bottom: 2px solid #a1d491;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-right: 20px;
}

nav ul li a:hover {
    color: #007BFF;
}

/* Adjust the logo size to be a rectangle */
#company-logo {
    width: 150px;
    height: 50px;
}

/* Style for the search container */
nav ul li form {
    display: flex;
    align-items: center;
}

nav ul li form input[type="text"] {
    border: none;
    padding: 10px;
    border-radius: 50px;
    outline: none;
    width: 200px;
}

nav ul li form .search-button {
    background-color: transparent;
    border: black;
    padding: 10px;
    cursor: pointer;
}

nav ul li form .search-button img {
    width: 25px;
    height: 25px;
}
